---
Language: Cpp
BasedOnStyle: LLVM

# indent two spaces (or whatever you like)
IndentWidth: 4
TabWidth: 4
UseTab: Always

# Attach-style braces (braces on same line)
BreakBeforeBraces: Attach

# indent "case" under "switch"
IndentCaseLabels: true

# do NOT collapse short blocks onto one line
AllowShortBlocksOnASingleLine: false

# Allow short if statements on a single line
AllowShortIfStatementsOnASingleLine: Always
